*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 10px;
}
div {
  height: 20vh;
  background: red;
  cursor: pointer;
  /*
  transition-duration: 600ms;
  transition-property: background;
  transition-timing-function: linear;
  transition-delay: 300ms;*/
  transition: all 600m3 cubic-bezier(0.2, 1.01, 0.02, 0.23);
}


div:hover {
  background: purple;
}
div:active {
  background: yellow;
}

h1 {
  font-size: 1.5em;
}
.text1 {
  font-size: 1rem;
}
.text2 {
  font-size: 2rem;
}
.text3 {
  font-size: 3rem;
}
  
  input[type="number"]:invalid {
    border-color: red;
  }
